@page "/themeBuilder"

<MudContainer>
    <MudTabs Elevation="4" Rounded="true" Color="@Color.Primary">
        <MudTabPanel Text="BackGround">
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Main BackGround
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text="BackGround Color option">
                    <MudColorPicker Label="BackGroundColor" DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </MudExpansionPanel>
                <MudExpansionPanel Text="BackGround Color Gradiant option">

                    <MudPaper Elevation="0" Class="mud-width-full mud-height-full d-flex justify-center align-end pb-8" MinHeight="600px" Style="@($"background-image:linear-gradient({degrees}deg, {_gradientPrimary.ToString(MudColorOutputFormats.RGBA)} 0%, {_gradientSecondary.ToString(MudColorOutputFormats.RGBA)} 100%);")">
                        <MudPaper Class="d-flex">
                            <MudColorPicker Rounded="true" Class="rounded-tr-0" PickerVariant="PickerVariant.Static" DisableModeSwitch="true" Value="_pickerColor" ValueChanged="UpdateSelectedColor" />
                            <div class="pa-2">
                                <MudText Typo="Typo.h6" Class="mx-1">Gradient Colors</MudText>

                                <MudList Clickable="true" SelectedItemChanged="ChangeSelectedColor">
                                    <MudListItem Text="1">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientPrimary};")"></div>
                                    </MudListItem>
                                    <MudListItem Text="2">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientSecondary};")"></div>
                                    </MudListItem>
                                </MudList>
                                <MudSlider Min="0" Max="360" Step="1" @bind-Value="@degrees" Class="px-2">Degrees</MudSlider>
                            </div>
                        </MudPaper>
                    </MudPaper>
                </MudExpansionPanel>
            </MudExpansionPanels>

            <hr class="m-1" style="color: red" />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Shop And Blog BackGround
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text="Shop And Blog BackGround Color option">
                    <div class="ITalignCenter">
                        <MudColorPicker Label="Shop And Blog BackGround Color" DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                    </div>
                </MudExpansionPanel>
                <MudExpansionPanel Text="Shop And Blog BackGround Color Gradiant option">
                    <MudPaper Elevation="0" Class="mud-width-full mud-height-full d-flex justify-center align-end pb-8" MinHeight="600px" Style="@($"background-image:linear-gradient({degrees}deg, {_gradientPrimary.ToString(MudColorOutputFormats.RGBA)} 0%, {_gradientSecondary.ToString(MudColorOutputFormats.RGBA)} 100%);")">
                        <MudPaper Class="d-flex">
                            <MudColorPicker Rounded="true" Class="rounded-tr-0" PickerVariant="PickerVariant.Static" DisableModeSwitch="true" Value="_pickerColor" ValueChanged="UpdateSelectedColor" />
                            <div class="pa-2">
                                <MudText Typo="Typo.h6" Class="mx-1">Gradient Colors</MudText>

                                <MudList Clickable="true" SelectedItemChanged="ChangeSelectedColor">
                                    <MudListItem Text="1">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientPrimary};")"></div>
                                    </MudListItem>
                                    <MudListItem Text="2">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientSecondary};")"></div>
                                    </MudListItem>
                                </MudList>
                                <MudSlider Min="0" Max="360" Step="1" @bind-Value="@degrees" Class="px-2">Degrees</MudSlider>
                            </div>
                        </MudPaper>
                    </MudPaper>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <hr class="m-1" style="color: red" />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Drawer BackGround
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text="Drawer BackGround Color option">
                    <div class="ITalignCenter">
                        <MudColorPicker Label="Drawer BackGround Color" DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                    </div>
                </MudExpansionPanel>
                <MudExpansionPanel Text="Drawer BackGround Color Gradiant option">

                    <MudPaper Elevation="0" Class="mud-width-full mud-height-full d-flex justify-center align-end pb-8" MinHeight="600px" Style="@($"background-image:linear-gradient({degrees}deg, {_gradientPrimary.ToString(MudColorOutputFormats.RGBA)} 0%, {_gradientSecondary.ToString(MudColorOutputFormats.RGBA)} 100%);")">
                        <MudPaper Class="d-flex">
                            <MudColorPicker Rounded="true" Class="rounded-tr-0" PickerVariant="PickerVariant.Static" DisableModeSwitch="true" Value="_pickerColor" ValueChanged="UpdateSelectedColor" />
                            <div class="pa-2">
                                <MudText Typo="Typo.h6" Class="mx-1">Gradient Colors</MudText>

                                <MudList Clickable="true" SelectedItemChanged="ChangeSelectedColor">
                                    <MudListItem Text="1">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientPrimary};")"></div>
                                    </MudListItem>
                                    <MudListItem Text="2">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientSecondary};")"></div>
                                    </MudListItem>
                                </MudList>
                                <MudSlider Min="0" Max="360" Step="1" @bind-Value="@degrees" Class="px-2">Degrees</MudSlider>
                            </div>
                        </MudPaper>
                    </MudPaper>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <hr class="m-1" style="color: red" />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    AppBar BackGround
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text="AppBar BackGround Color option">
                    <div class="ITalignCenter">
                        <MudColorPicker Label="AppBar BackGround Color" DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                    </div>
                </MudExpansionPanel>
                <MudExpansionPanel Text="AppBar BackGround Color Gradiant option">

                    <MudPaper Elevation="0" Class="mud-width-full mud-height-full d-flex justify-center align-end pb-8" MinHeight="600px" Style="@($"background-image:linear-gradient({degrees}deg, {_gradientPrimary.ToString(MudColorOutputFormats.RGBA)} 0%, {_gradientSecondary.ToString(MudColorOutputFormats.RGBA)} 100%);")">
                        <MudPaper Class="d-flex">
                            <MudColorPicker Rounded="true" Class="rounded-tr-0" PickerVariant="PickerVariant.Static" DisableModeSwitch="true" Value="_pickerColor" ValueChanged="UpdateSelectedColor" />
                            <div class="pa-2">
                                <MudText Typo="Typo.h6" Class="mx-1">Gradient Colors</MudText>

                                <MudList Clickable="true" SelectedItemChanged="ChangeSelectedColor">
                                    <MudListItem Text="1">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientPrimary};")"></div>
                                    </MudListItem>
                                    <MudListItem Text="2">
                                        <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientSecondary};")"></div>
                                    </MudListItem>
                                </MudList>
                                <MudSlider Min="0" Max="360" Step="1" @bind-Value="@degrees" Class="px-2">Degrees</MudSlider>
                            </div>
                        </MudPaper>
                    </MudPaper>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudTabPanel>

        <MudTabPanel Text="Pattern">
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Main Pattern
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text=" Main Pattern options">
                    <PatternPicker></PatternPicker>
                </MudExpansionPanel>
            </MudExpansionPanels>

            <hr class="m-1" style="color: red" />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Shop And Blog  Pattern
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text="Shop And Blog  Pattern options">
                    <PatternPicker></PatternPicker>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <hr class="m-1" style="color: red" />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Drawer Pattern
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text=" Drawer Pattern options">
                    <PatternPicker></PatternPicker>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <hr class="m-1" style="color: red" />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    AppBar Pattern options
                </div>
            </MudText>
            <MudExpansionPanels Class="mt-2">
                <MudExpansionPanel Text="AppBar Pattern options">
                    <PatternPicker></PatternPicker>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudTabPanel>

        <MudTabPanel Text="TextColor">
            <div class="row">
                <div class="col-6">
                    <MudText Color="Color.Success" Typo="Typo.h1">H1 Color</MudText>
                </div>
                <div class="col-6">
                    <MudColorPicker DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MudText Color="Color.Success" Typo="Typo.h2">H2 Color</MudText>
                </div>
                <div class="col-6">
                    <MudColorPicker DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MudText Color="Color.Success" Typo="Typo.h3">H3 Color</MudText>
                </div>
                <div class="col-6">
                    <MudColorPicker DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MudText Color="Color.Success" Typo="Typo.h4">H4 Color</MudText>
                </div>
                <div class="col-6">
                    <MudColorPicker DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MudText Color="Color.Success" Typo="Typo.h5">H5 Color</MudText>
                </div>
                <div class="col-6">
                    <MudColorPicker DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MudText Color="Color.Success" Typo="Typo.h6">H6 Color</MudText>
                </div>
                <div class="col-6">
                    <MudColorPicker DisableToolbar="false" DisableAlpha="false" DisableColorField="false" DisablePreview="false" DisableSliders="false" DisableInputs="false" DisableModeSwitch="false" PickerVariant="PickerVariant.Static"></MudColorPicker>
                </div>
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Layout">
            <br />
            <br />
            <MudIconButton Color="Color.Success" Size="Size.Large" Icon="@Icons.Outlined.PlusOne"></MudIconButton>
            <br />
            <MudGrid>
                <MudItem sm="6" xl="6">
                    <MudCard>
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
                        <MudCardContent>
                            <MudSkeleton Width="30%" Height="42px;" />
                            <MudSkeleton Width="80%" />
                            <MudSkeleton Width="100%" />
                        </MudCardContent>
                        <MudCardActions>
                            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
                            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
                        </MudCardActions>
                        <MudSwitch Checked="false" Color="Color.Success"></MudSwitch>
                    </MudCard>
                </MudItem>
                <MudItem sm="6" xl="6">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="40px" Width="40px" />
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudSkeleton Animation="Animation.Wave" Width="40%" />
                                <MudSkeleton Animation="Animation.Wave" Width="60%" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="250px" />
                        <MudCardContent>
                            <MudSkeleton Animation="Animation.Wave" />
                        </MudCardContent>
                        <MudCardActions>
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="30px" Width="30px" Class="ml-2 mb-2" />
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="30px" Width="30px" Class="ml-3 mb-2" />
                        </MudCardActions>
                        <MudSwitch Checked="true" Color="Color.Success"></MudSwitch>
                    </MudCard>
                </MudItem>
                <MudItem sm="6" xl="6">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="40px" Width="40px" />
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudSkeleton Animation="Animation.Wave" Width="40%" />
                                <MudSkeleton Animation="Animation.Wave" Width="60%" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="250px" />
                        <MudCardContent>
                            <MudSkeleton Animation="Animation.Wave" />
                        </MudCardContent>
                        <MudCardActions>
                            <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Height="30px" Width="30px" Class="ml-2 mb-2" />
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="30px" Width="30px" Class="ml-3 mb-2" />
                        </MudCardActions>
                        <MudSwitch Checked="false" Color="Color.Success"></MudSwitch>
                    </MudCard>
                </MudItem>
                <MudItem sm="6" xl="6">
                    <MudCard>
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Height="200px" />
                        <MudCardContent>
                            <MudSkeleton Width="30%" Height="42px;" />
                            <MudSkeleton Width="80%" />
                            <MudSkeleton Width="100%" />
                        </MudCardContent>
                        <MudCardActions>
                            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
                            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
                        </MudCardActions>
                        <MudSwitch Checked="false" Color="Color.Success"></MudSwitch>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>

</MudContainer>