@page "/UICustomizationDashBoard"

<MudContainer Class="mt-16">
    <MudAlert Severity="Severity.Info">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">
            <div class="IFArchitectsDaughter-Regular">UI Customization DashBoard</div>
        </MudText>
        <MudExpansionPanels>
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                        <MudText>Panel header as <strong>RenderFragment</strong></MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    Panel Content
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Text="The icon of this panel is hidden" HideIcon="true">
                Panel Content
            </MudExpansionPanel>
            <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1">Inbox</MudText>
                        <MudBadge Content="3" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                        </MudBadge>
                    </div>
                </TitleContent>
                <ChildContent>
                    Panel Content
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex">
                        <MudText>Overriding standard icon with own icon</MudText>

                    </div>
                </TitleContent>
                <ChildContent>
                    Panel Content
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudAlert>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Basics</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">Theme Builder</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.Colorize">
                            Colors
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.DesktopWindows">
                            BackGrounds
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Layers">
                            Layout
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4" Style="background-color: #c22317">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Success">Legend</MudText>
                        <MudIcon Icon="fas fa-fighter-jet"/>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">Designing</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="fas fa-file-image">
                            Banners
                        </MudListItem>
                        <MudListItem Icon="fas fa-couch">
                            Home Editor
                        </MudListItem>
                        <MudListItem Icon="fas fa-house-user">
                            Dashboard Editer
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Professional</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">Context</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="fas fa-broom">
                            Typography
                        </MudListItem>
                        <MudListItem Icon="fas fa-icons">
                            Icon's
                        </MudListItem>
                        <MudListItem Icon="far fa-laugh-wink">
                            Emojies
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

