<MudCarousel Style="height:370px;" ShowArrows="true" AutoCycle="false" TData="object">
    <MudCarouselItem Color="@Color.Primary">
        <MudCard>
            <div class="IBGNewBlush" style="min-height:300px">
            </div>
            <MudCardContent>
                <MudSwitch Checked="false" Label="Chose This Pattern" Color="Color.Success"></MudSwitch>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <MudCard>
            <div class="IBGCrosscheckPattern" style="min-height:300px">
            </div>
            <MudCardContent>
                <MudSwitch Checked="true"></MudSwitch>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <MudCard>
            <div class="IBGFadedSun" style="min-height:300px">
            </div>
            <MudCardContent>
                <MudSwitch Checked="false" Label="Chose This Pattern" Color="Color.Success"></MudSwitch>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <MudCard>
            <div class="IIsometricPattern" style="min-height:300px">
            </div>
            <MudCardContent>
                <MudSwitch Checked="true" Label="Chose This Pattern" Color="Color.Success"></MudSwitch>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <MudCard>
            <div class="IBGWavePattern" style="min-height:300px">
            </div>
            <MudCardContent>
                <MudSwitch Checked="true" Label="Chose This Pattern" Color="Color.Success"></MudSwitch>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <MudCard>
            <div class="IBGCircle" style="min-height:300px">
            </div>
            <MudCardContent>
                <MudSwitch Checked="true" Label="Chose This Pattern" Color="Color.Success"></MudSwitch>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
</MudCarousel>