@page "/IllegibleAdminDashboard"
<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid Class="mt-2">
        <MudItem xs="6" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <div class="ITalignCenter">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.People"></MudIcon>
                </div>
                <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Primary">
                    <div class="IFArchitectsDaughter-Regular">
                        You Can See And Manage IllShop Users Activity Here
                    </div>
                </MudText>
                <MudButton Color="Color.Dark">
                    <MudNavLink Href="/usersDetailForAdminHandler" Class="ITshadowBlack">
                        Illegible Users
                    </MudNavLink>
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <div class="ITalignCenter">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.Category"></MudIcon>
                </div>
                <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Info">
                    <div class="IFArchitectsDaughter-Regular">
                        You Can See And Manage IllShop Product category Here
                    </div>
                </MudText>
                <MudButton Color="Color.Dark">
                    <MudNavLink Href="/IllShopProductCategory" Class="ITshadowBlack">
                        Illegible Product category
                    </MudNavLink>
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <div class="ITalignCenter">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.ShoppingBasket"></MudIcon>
                </div>
                <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Info">
                    <div class="IFArchitectsDaughter-Regular">
                        You Can See And Manage IllShop Products Here
                    </div>
                </MudText>
                <MudButton Color="Color.Dark">
                    <MudNavLink Href="/ProductManagment" Class="ITshadowBlack">
                        Illegible Product Mangment
                    </MudNavLink>
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <div class="ITalignCenter">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.DashboardCustomize"></MudIcon>
                </div>
                <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Info">
                    <div class="IFArchitectsDaughter-Regular">
                        You Can See And Manage IllShop UI Customization Here
                    </div>
                </MudText>
                <MudButton Color="Color.Dark">
                    <MudNavLink Href="/UICustomizationDashBoard" Class="ITshadowBlack">
                        Illegible Theme Mangment
                    </MudNavLink>
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <div class="ITalignCenter">
                    <MudIcon Size="Size.Large" Icon="@Icons.Filled.ShoppingBasket"></MudIcon>
                </div>
                <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Info">
                    <div class="IFArchitectsDaughter-Regular">
                        You Can See And Manage IllShop Posts Here
                    </div>
                </MudText>
                <MudButton Color="Color.Dark">
                    <MudNavLink Href="/ad/min/p0s/tManage" Class="ITshadowBlack">
                        Illegible Blog Mangment
                    </MudNavLink>
                </MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-3">
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <BarChart />
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <DonutChart />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <LineChart />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <PieChart />
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>