@page "/ad/min/p0s/tManage"

<MudPaper Class="pa-8 ma-2" Elevation="3">
    <div class=row>
        <div class="col">
            <MudExpansionPanel Text="Click Here To Add New Post" Icon="@Icons.Material.Filled.Category">
                <section class="IW7 Imarginauto">
                    <EditForm Model="BlogPostDto" OnValidSubmit="Create">
                        <DataAnnotationsValidator />
                        <MudCard>
                            <MudCardContent>
                                <MudTextField Label="Post Title" @bind-Value="BlogPostDto.Title" For="@(() => BlogPostDto.Title)" />
                                <MudTextField Label="Summary" @bind-Value="BlogPostDto.Summary" For="@(() => BlogPostDto.Summary)" />
                                <MudTextField Label="Context" @bind-Value="BlogPostDto.PostContext" For="@(() => BlogPostDto.PostContext)" />
                                <MudTextField Label="Context" @bind-Value="BlogPostDto.PostContext" For="@(() => BlogPostDto.PostVideoUrl)" />
                                <MudTextField Label="Context" @bind-Value="BlogPostDto.PostContext" For="@(() => BlogPostDto.PostAttachedLinkUrl)" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                                           Class="ml-auto">Create Post</MudButton>
                            </MudCardActions>
                            <br />
                            <ImageUpload OnChange="AssignImageUrl" />
                        </MudCard>
                    </EditForm>
                </section>
            </MudExpansionPanel>
        </div>
    </div>
</MudPaper>


<div class="row">
    <div class="col">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<BlogPostDto>>>(GetServerData))"
                  Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true" @ref="_table" RowsPerPage="4">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Posts</MudText>
                <MudSpacer />
                <MudTextField OnDebounceIntervalElapsed="OnSearch" Placeholder="Search" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" T="string" DebounceInterval="500"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Image</MudTh>
                <MudTh><MudTableSortLabel SortLabel="Post Title" T="BlogPostDto">Title</MudTableSortLabel></MudTh>
                <MudTh>Summary</MudTh>
                <MudTh>
                    <MudText Color="Color.Info">
                        <MudIcon Icon="@Icons.Filled.Settings"></MudIcon>
                        Post Handle Actions
                    </MudText>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Image">
                    <MudLink Href="@($"PostDetail/{context.Id}")">
                        <MudAvatar Color="Color.Transparent" Size="Size.Large" Image="@context.PostImageUrl" />
                    </MudLink>
                </MudTd>
                <MudTd DataLabel="Title">
                    <MudLink Href="@($"PostDetail/{context.Id}")">@context.Title</MudLink>
                </MudTd>
                <MudTd DataLabel="Summary">
                    $@context.Summary
                </MudTd>
                <MudTd>
                    <MudButton Color="Color.Error" OnClick="@(() => DeletePost(context.Id))">
                        <MudIcon Icon="fas fa-skull-crossbones"></MudIcon>
                        <MudText>Delete Post</MudText>
                    </MudButton>
                    <MudButton Color="Color.Tertiary" OnClick="@(() => EditPost(context.Id))">
                        <MudIcon Icon="fas fa-expand"></MudIcon>
                        <MudText>Edit Post</MudText>
                    </MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Posts per page" />
            </PagerContent>
        </MudTable>
    </div>
</div>