@page "/IllShopProductCategory"

<MudExpansionPanel Text="Add Product Category" Icon="@Icons.Material.Filled.Category">
    <section class="IW7 Imarginauto">
        <MudCard>
            <MudSelect @bind-Value="Icon" AdornmentIcon="@Icons.Material.Filled.Category" AdornmentColor="Color.Primary" Label="Category Icon" OffsetY="true" Dense="true" Class="ml-4">
                @foreach (var icon in iconsList)
                {
                    <MudSelectItem Value="@(icon)">
                        <MudText>@icon</MudText>
                        <MudIcon Icon=@icon></MudIcon>
                    </MudSelectItem>
                }
            </MudSelect>
        </MudCard>
        <EditForm Model="ProductCategoryDto" OnValidSubmit="Create">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Category Name" @bind-Value="ProductCategoryDto.CategoryName"
                                  For="@(() => ProductCategoryDto.CategoryName)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success"
                               Class="ml-auto">Create Category</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </section>
</MudExpansionPanel>
<MudSpacer/>
<div class="row">
    <div class="col">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<ProductCategoryDto>>>(GetServerData))"
                  Breakpoint="Breakpoint.Sm" RightAlignSmall="true" @ref="_table" RowsPerPage="4"
                  Dense="@dense" Hover="@hover" ReadOnly="@ronly" CanCancelEdit="true"
                  @bind-SelectedItem="selectedItem" SortLabel="Sort By"
                  CommitEditTooltip="Commit Edit"
                  RowEditPreview="BackupItem"
                  RowEditCancel="ResetItemToOriginalValues"
                  RowEditCommit="ItemHasBeenCommitted">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Products</MudText>
                <MudSpacer />
                <MudTextField OnDebounceIntervalElapsed="OnSearch" Placeholder="Search" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" T="string" DebounceInterval="500"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Category Icon</MudTh>
                <MudTh><MudTableSortLabel SortLabel="Category Name" T="ProductCategoryDto">Category Name</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Icon">
                    <MudIcon Icon="@context.Icon"></MudIcon>
                </MudTd>
                <MudTd DataLabel="Category Name">
                    <MudText>@context.CategoryName</MudText>
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate>
                <MudTd DataLabel="Icon">
                    <MudSelect @bind-Value="@Icon" AdornmentIcon="@Icons.Material.Filled.Category" AdornmentColor="Color.Primary" Label="Category Icon" OffsetY="true" Dense="true" Class="ml-4">
                        @foreach (var icon in iconsList)
                        {
                            <MudSelectItem Value="@(icon)">
                                <MudText>@icon</MudText>
                                <MudIcon Icon=@icon></MudIcon>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudTd>
                <MudTd DataLabel="Category Name">
                    <MudTextField @bind-Value="@context.CategoryName" Required />
                </MudTd>
            </RowEditingTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Products per page" />
            </PagerContent>
        </MudTable>
    </div>
</div>
<MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
<MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
<MudSwitch @bind-Checked="@ronly" Color="Color.Tertiary">Read Only</MudSwitch>
