@page "/IllShopProductCategory"

<MudExpansionPanel Text="Add Product Category" Icon="@Icons.Material.Filled.Category">
    <section class="IW7 Imarginauto">
        <MudCard>
            <MudSelect @bind-Value="Icon" AdornmentIcon="@Icons.Material.Filled.Category" AdornmentColor="Color.Primary" Label="Category Icon" OffsetY="true" Dense="true" Class="ml-4">
                @foreach (var icon in iconsList)
                {
                    <MudSelectItem Value="@(icon)">
                        <MudText>@icon</MudText>
                        <MudIcon Icon=@icon></MudIcon>
                    </MudSelectItem>
                }
            </MudSelect>
        </MudCard>
        <EditForm Model="ProductCategoryDto" OnValidSubmit="Create">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Category Name" @bind-Value="ProductCategoryDto.CategoryName"
                                  For="@(() => ProductCategoryDto.CategoryName)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success"
                               Class="ml-auto">Create Category</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </section>
</MudExpansionPanel>
