@page "/updateProduct/{ProductId:int}"

<section class="IW7 Imarginauto">
    <EditForm Model="ProductDto" OnValidSubmit="Update">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudSelect @bind-Value="CategoryId" Label="Product Category" OffsetY="true" Dense="true" Class="ml-4">
                    @{
                        foreach (var ProductCategoryDto in ProductCategoryDtoList)
                        {
                            <MudSelectItem Value="ProductCategoryDto.Id">@ProductCategoryDto.CategoryName</MudSelectItem>
                        }
                    }                    
                </MudSelect>
                <MudTextField Label="Product Name" @bind-Value="ProductDto.ProductName"
                              For="@(() => ProductDto.ProductName)" />
                <MudTextField Label="Supplier" @bind-Value="ProductDto.Supplier"
                              For="@(() => ProductDto.Supplier)" />
                <MudTextField Label="Desceription" @bind-Value="ProductDto.Desceription" For="@(() => ProductDto.Desceription)" />
                <MudTextField Label="Price" @bind-Value="ProductDto.Price" HelperText="Between 1 and 1000"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AttachMoney"
                              InputType="InputType.Number" For="@(() => ProductDto.Price)" />
                <MudDatePicker Label="Manufacture date" @bind-Date="_date" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                           Class="ml-auto">Create Product</MudButton>
            </MudCardActions>
            <br />
            <ImageUpload OnChange="AssignImageUrl" ImgUrl="@ProductDto.ImageUrl"/>
            
        </MudCard>
    </EditForm>
</section>