@page "/usersDetailForAdminHandler"
@*<div class="row">
    <div class="col">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<ProductDto>>>(GetServerData))"
                  Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true"
                  @ref="_table" RowsPerPage="4">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Products</MudText>
                <MudSpacer />
                <MudTextField OnDebounceIntervalElapsed="OnSearch" Placeholder="Search" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0" T="string" DebounceInterval="500"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Image</MudTh>
                <MudTh><MudTableSortLabel SortLabel="productName" T="ProductDto">Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="price" T="ProductDto">Price</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Image">
                    <MudLink Href="@($"product/{context.Id}")">
                        <MudAvatar Color="Color.Transparent" Size="Size.Large" Image="@context.ImageUrl" />
                    </MudLink>
                </MudTd>
                <MudTd DataLabel="Name">
                    <MudLink Href="@($"product/{context.Id}")">@context.ProductName</MudLink>
                </MudTd>
                <MudTd DataLabel="Price">$@context.Price</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Products per page" />
            </PagerContent>
        </MudTable>

    </div>
</div>*@