<MudAppBar Elevation="3">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="async () => await OnSidebarToggled.InvokeAsync()" />
    <MudIconButton Icon="@RTLICon" OnClick="ChangeRTL" Color="Color.Error" Title="@rtlOrtlrToolTip"/>
    <MudAvatar Style="border:2px solid" Class="m-4" Image="Images/MohammadJavadTabari1024.jpeg" Alt="Mohammad Javad Tabari"></MudAvatar>
    <div>
        <MudSelect T="string" @bind-Value="ThemeId" FullWidth="true" Style="width:200px;background-color:#020205 ;border:1px solid black ; border-radius:5px;" SelectedValuesChanged="@(()=> ValueChanged())">
            <MudSelectItem Value="@("11")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Surface Dark Mode
                </MudText>
            </MudSelectItem>
             <MudSelectItem Value="@("0")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Deep Dark Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("5")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Light Mood
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("3")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Green Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("2")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Pink Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("6")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Light Pink Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("10")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Deep Purple Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("4")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Surface Blue Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("7")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Deep Pink Mode
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("8")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    Light Pink No 1
                </MudText>
            </MudSelectItem>
            <MudSelectItem Value="@("1")">
                <MudText Align="Align.Center" Typo="Typo.body1" Color="Color.Error">
                    S Light Mode
                </MudText>
            </MudSelectItem>
        </MudSelect>
    </div>
</MudAppBar>